= link_to create_bookmark_url(account_id: @current_account.id, bookmarkable_id: bookmarkable.id, bookmarkable_type: bookmarkable.class, school_id: school_id), method: :post, remote: true, class:'btn btn-success' do
	i.icon-star
	|  Bookmark