$('#bookmark_button').replaceWith("<div id='bookmark_button'><%= j render 'bookmarks/bookmark_button' , school_id: @bookmark.school_id, bookmarkable: @bookmark.bookmarkable %></div>" );
$('#bookmark_<%= @bookmark.id %>').remove();