p This file should contain the message form that school admins send to landlords from their landlord monitor page. 
p This form will be rendered in the modal that appears when school admins click 'Message'
p The top of the form will simply say "Message to: landlord_name"
p Bottom will have box for message contents and send/cancel buttons