p Everyone can view all listings without an account. However, creating a student account gives you the ability to post sublets and marketplace items as well as access roommate profiles.
p Creating a landlord account allows you to post your units and market to thousands of students.
p There is no cost for creating an account.