p Deactivating a listing is a great alternative to deleting it if you would like to use your listing again in the future without having to re-create it. This is especially useful for landlords who fill a property and want to stop advertising for some time, but will be advertising the property again at a later date. 