ol
	li Click the Sign Up to Post button on the top right of your screen. 
	li Select the student or landlord tab and enter your information. 
	em Note that you will only be able to sign up as a student if you have a .edu email address. This is designed to protect the safety of our student users.