p uHoused differs from sites such as Craigslist by focusing specifically on student housing. We recognize that student housing is a completely different market than the more broad real estate industry. As such, we have created a site that gives students the information they really want, such as distance to campus. 

p We are a proven success at the school's we've released to. We market directly to students of the school's we've released to so that you don't have to. Thousands of students are using uHoused to find their rentals and sublets. If you want to advertise your properties on a site that students are actually visiting, uHoused is for you.