p Everyone can view listings without making an account. Rental listings will only appear on the undergraduate map if they are within 3 miles of campus. The graduate student section will display listings if they are within 15 miles of campus.
p Marketplace items and sublets are viewable to everyone.
p Roommate profile listings are only viewable to registered student users.