p Students, landlords, and anyone who wants to rent out their place can post listings on uHoused by creating an account.

p If you register as a student, you will be able to post your sublet, any used good, and your roommate profile.  You will need to have a .edu address to post as a student.