p We require that students register with a school email address for two reasons. First, it reduces the likelihood of fake postings on the site. Second, it keeps listings relatively safe, since all transactions between those with student accounts take place in person after uHoused puts them in contact with one another.